body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f9f9f9;
    color: #333;
}

header {
    background: #6c63ff;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

.links a {
    color: white;
    margin: 0 10px;
    text-decoration: underline;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    border-left: 5px solid #6c63ff;
    padding-left: 10px;
}

.skill-box, .project {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
